nav {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;
        font-family: "Sacramento", serif;
        font-size: 30px;
    }
    .icon {
        width: 40px;
        height: 40px;
        display: block;
        background: url('./assets/fxemoji_microphone.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
    font-size: 12px;

    p {
        margin: 0;
        text-align: center;
    }
}


#modal {
    background-color: #242424;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    min-width: 40vw;
    max-width: 40vw;
    max-height: 90vh;
    &::backdrop {
        background-color: #0000008b;
    }
}