.close {
    background-image: url('../../assets/close.svg');
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    opacity: 0.8;
    
    &:hover {
        opacity: 1;
    }
}

.dialog-body-scroll {
    overflow-y: auto;
    max-height: 68vh;
}

.dialog-header {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    h2, h3, h4 {
        margin: 0;
    }
}

.fact {
    font-style: italic;
}